<div class="row">
  <h1>Some places you may want to visit:</h1>
</div>

<% businesses.businesses.forEach(function(business) { %>

    <div class="container">
      <div class="row">
        <ul>
          <li>
            <h5><%= business.name %></h5>
            <img src="<%= business.image_url %>"</img>
            <p>Average Rating: <%= business.rating %></p>
            <p>Number of Reviews: <%= business.review_count %></p>
            <p>Price: <%= business.price %></p>
            <p>Address: <%= business.location.display_address %></p>
            <form class="col s6" action="/trips/<%= tripId %>/businesses" method="POST">
              <input type="hidden" name="name" value="<%= business.name %>">
              <input type="hidden" name="url" value="https://www.yelp.com/biz/<%= business.id %>">
              <p class="blue-text text-darken-2">Save to Trip?</p>
              <select name="category">
                <option value="" disabled selected>Select a category...</option>
                <option value="active">Active/Outdoor</option>
                <option value="arts">Arts/Entertainment</option>
                <option value="beautysvc">Beauty/Spas</option>
                <option value="food">Food</option>
                <option value="hotelstravel">Hotels/Travel</option>
                <option value="nightlife">Nightlife</option>
                <option value="restaurants">Restaurants</option>
                <option value="shopping">Shopping</option>
              </select>
              <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
              </div>
              <br />
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr class="col s10 offset-s1">
    </div>

  <% }); %>

<hr />

<br />

<a href="/">&larr; Back Home</a>
