<nav class="nav blue">
  <div class="nav-wrapper col s12">
      <a href="/" class="brand-logo">venturesome</a>
      <% if (currentUser !== undefined) { %>
      <ul class="right hide-on-med-and-down nav-ul">
        <li><a href="/trips">my trips</a></li>
        <li><a href="/auth/logout">logout</a></li>
      </ul>
      <%  } else { %>
      <ul class="right hide-on-med-and-down">
        <li><a href="/auth/signup">signup</a></li>
        <li><a href="/auth/login">login</a></li>
      </ul>
      <% }; %>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">home</a></li>
        <li><a href="/trips">my trips</a></li>
        <li><a href="/auth/login">login</a></li>
        <li><a href="/auth/logout">logout</a></li>
        <li><a href="/auth/signup">signup</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">login<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="tripcontainer">
  <div class="row">
    <div class="col s6 offset-s5">
      <h1><%= trip.city %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col s4 offset-s4">
    <% if (trip.city === 'New York') { %>
      <img class="tripimage" src="../img/newyork.jpg">
    <% } else if (trip.city === 'Berlin') { %>
      <img class="tripimage" src="../img/berlin.jpg">
    <% } else if (trip.city === 'Edinburgh') { %>
      <img class="tripimage" src="../img/edinburgh.jpg">
    <% } else if (trip.city === 'Hong Kong') { %>
      <img class="tripimage" src="../img/hongkong.jpg">
    <% } else if (trip.city === 'London') { %>
      <img class="tripimage" src="../img/london.jpg">
    <% } else if (trip.city === 'Oslo') { %>
      <img class="tripimage" src="../img/oslo.jpg">
    <% } else if (trip.city === 'Paris') { %>
      <img class="tripimage" src="../img/paris.jpg">
    <% } else if (trip.city === 'Rio de Janeiro') { %>
      <img class="tripimage" src="../img/riodejaneiro.jpg">
    <% } else if (trip.city === 'Rome') { %>
      <img class="tripimage" src="../img/rome.jpg">
    <% } else if (trip.city === 'San Francisco') { %>
      <img class="tripimage" src="../img/sanfrancisco.jpg">
    <% } else if (trip.city === 'Sydney') { %>
      <img class="tripimage" src="../img/sydney.jpg">
    <% } else if (trip.city === 'Tokyo') { %>
      <img class="tripimage" src="../img/tokyo.jpg">
    <% }; %>
    </div>
  </div>


  <div class="row">
    <form method="GET" id="main" class="col s8 offset-s3" action="/trips/<%= trip.id %>/businesses">
        <div class="input-field col s8">
          <select id="categoryselect">
            <option value="" disabled selected>Select a category...</option>
            <option value="active, All" id="active">Active/Outdoor</option>
            <option value="arts, All" id="arts">Arts/Entertainment</option>
            <option value="beautysvc, All" id="beauty">Beauty/Spas</option>
            <option value="food, All" id="food">Food</option>
            <option value="hotelstravel, All" id="hotels">Hotels/Travel</option>
            <option value="nightlife, All" id="nightlife">Nightlife</option>
            <option value="restaurants, All" id="restaurants">Restaurants</option>
            <option value="shopping, All" id="shopping">Shopping</option>
          </select>
          <label>What are you looking for on this adventure?</label>
        </div>
    </form>
  </div>
  <div class="row">
    <div class="categories" id="activeform">
      <form action="/trips/<%= trip.id %>/businesses">
          <div class="input-field col s4 offset-s4">
            <select id="activeselect" name="category">
              <option value="" disabled selected>Select a category...</option>
              <option value="amusementparks, All">Amusement Parks</option>
              <option value="aquariums, All">Aquariums</option>
              <option value="bungeejumping, All">Bungee Jumping</option>
              <option value="parks, All">Parks</option>
              <option value="zipline, All">Ziplining</option>
            </select>
            <label>Choose one of the following:</label>
            <input type="hidden" name="location" value="<%= trip.city %>">
          </div>
          <button class="btn waves-effect waves-light offset-s4" type="submit" name="action">Search
            <i class="material-icons right">search</i>
          </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="categories" id="artsform">
      <form action="/trips/<%= trip.id %>/businesses">
          <div class="input-field col s4 offset-s4">
            <select id="artselect" name="category">
              <option value="" disabled selected>Select a category...</option>
              <option value="movietheaters, All">Cinema</option>
              <option value="festivals, All">Festivals</option>
              <option value="museums, All">Museums</option>
              <option value="musicvenues, All">Music Venues</option>
              <option value="wineries">Wineries</option>
            </select>
            <label>Choose one of the following:</label>
            <input type="hidden" name="location" value="<%= trip.city %>">
          </div>
          <button class="btn waves-effect waves-light offset-s4" type="submit" name="action">Search
            <i class="material-icons right">search</i>
          </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="categories" id="beautyform">
      <form action="/trips/<%= trip.id %>/businesses">
          <div class="input-field col s4 offset-s4">
            <select id="beautyselect" name="category">
              <option value="" disabled selected>Select a category...</option>
              <option value="spas, All">Day Spas</option>
              <option value="hair, All">Hair Salons</option>
              <option value="othersalons, All">Nail Salons</option>
              <option value="piercing, All">Piercing</option>
              <option value="tattoo, All">Tattoo</option>
            </select>
            <label>Choose one of the following:</label>
            <input type="hidden" name="location" value="<%= trip.city %>">
          </div>
          <button class="btn waves-effect waves-light offset-s4" type="submit" name="action">Search
            <i class="material-icons right">search</i>
          </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="categories" id="foodform">
      <form action="/trips/<%= trip.id %>/businesses">
          <div class="input-field col s4 offset-s4">
            <select id="foodselect" name="category">
              <option value="" disabled selected>Select a category...</option>
              <option value="beer_and_wine, All">Beer, Wine & Spirits</option>
              <option value="coffee, All">Coffee & Tea</option>
              <option value="desserts, All">Desserts</option>
              <option value="foodtrucks">Food Trucks</option>
              <option value="gourmet">Gourmet Foods (candy, cheese, healthfoods, meat, seafood)</option>
            </select>
            <label>Choose one of the following:</label>
            <input type="hidden" name="location" value="<%= trip.city %>">
          </div>
          <button class="btn waves-effect waves-light offset-s4" type="submit" name="action">Search
            <i class="material-icons right">search</i>
          </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="categories" id="hotelsform">
      <form action="/trips/<%= trip.id %>/businesses">
          <div class="input-field col s4 offset-s4">
            <select id="hotelselect" name="category">
              <option value="" disabled selected>Select a category...</option>
              <option value="bedbreakfast">Bed & Breakfast</option>
              <option value="carrental, All">Car Rentals</option>
              <option value="hotels, All">Hotels</option>
              <option value="resorts, All">Resorts</option>
              <option value="tours, All">Tours</option>
            </select>
            <label>Choose one of the following:</label>
            <input type="hidden" name="location" value="<%= trip.city %>">
          </div>
          <button class="btn waves-effect waves-light offset-s4" type="submit" name="action">Search
            <i class="material-icons right">search</i>
          </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="categories" id="nightlifeform">
      <form action="/trips/<%= trip.id %>/businesses">
          <div class="input-field col s4 offset-s4">
            <select id="nightlifeselect" name="category">
              <option value="" disabled selected>Select a category...</option>
              <option value="bars, All">Bars</option>
              <option value="comedyclubs">Comedy Clubs</option>
              <option value="danceclubs, All">Dance Clubs</option>
              <option value="karaoke, All">Karaoke</option>
              <option value="pianobars">Piano Bars</option>
            </select>
            <label>Choose one of the following:</label>
            <input type="hidden" name="location" value="<%= trip.city %>">
          </div>
          <button class="btn waves-effect waves-light offset-s4" type="submit" name="action">Search
            <i class="material-icons right">search</i>
          </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="categories" id="restaurantsform">
      <form action="/trips/<%= trip.id %>/businesses">
          <div class="input-field col s4 offset-s4">
            <select id="restaurantselect" name="category">
              <option value="" disabled selected>Select a category...</option>
              <option value="asianfusion, All">Asian Fusion</option>
              <option value="breakfast_brunch, All">Breakfast & Brunch</option>
              <option value="cafes">Cafes</option>
              <option value="delis">Delis</option>
              <option value="hotdogs, All">Fast Food</option>
            </select>
            <label>Choose one of the following:</label>
            <input type="hidden" name="location" value="<%= trip.city %>">
          </div>
          <button class="btn waves-effect waves-light offset-s4" type="submit" name="action">Search
            <i class="material-icons right">search</i>
          </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="categories" id="shoppingform">
      <form action="/trips/<%= trip.id %>/businesses">
          <div class="input-field col s4 offset-s4">
            <select id="shoppingselect" name="category">
              <option value="" disabled selected>Select a category...</option>
              <option value="media, All">Books, Magazines, Music & Video</option>
              <option value="deptstores, All">Department Stores</option>
              <option value="fashion, All">Fashion</option>
              <option value="publicmarkets, All">Public Markets</option>
              <option value="souvenirs">Souvenir Shops</option>
            </select>
            <label>Choose one of the following:</label>
            <input type="hidden" name="location" value="<%= trip.city %>">
          </div>
          <button class="btn waves-effect waves-light offset-s4" type="submit" name="action">Search
            <i class="material-icons right">search</i>
          </button>
      </form>
    </div>
  </div>

  <div class="row">
    <hr class="col s10 offset-s1">
  </div>

<div class="row">
  <div class="col s4 categorycol" id="activecol">
  <h5>Active/Outdoor</h5>
  <% trip.businesses.filter(function(item) { %>
      <% if (item.category === 'active') { %>
      <ul>
        <li class="biz">
          <a class="bizlink" href="<%= item.url %>"><%= item.name %></a>
          <a class="btn-small waves-effect waves-light blue-grey lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>/edit">Edit</a>
          <a class="delete-link btn-small waves-effect waves-light red lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>">Delete</a>
        </li>
      </ul>
      <% }; %>
    </div>
  <% }); %>
  <div class="col s4 categorycol" id="artscol">
  <h5>Arts/Entertainment</h5>
  <% trip.businesses.filter(function(item) { %>
    <% if (item.category === 'arts') { %>
      <ul>
        <li class="biz">
          <a class="bizlink" href="<%= item.url %>"><%= item.name %></a>
          <a class="btn-small waves-effect waves-light blue-grey lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>/edit">Edit</a>
          <a class="delete-link btn-small waves-effect waves-light red lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>">Delete</a>
        </li>
      </ul>
      <% }; %>
    </div>
  <% }); %>
  <div class="col s4 categorycol" id="beautycol">
  <h5>Beauty/Spas</h5>
  <% trip.businesses.filter(function(item) { %>
    <% if (item.category === 'beautysvc') { %>
      <ul>
        <li class="biz">
          <a class="bizlink" href="<%= item.url %>"><%= item.name %></a>
          <a class="btn-small waves-effect waves-light blue-grey lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>/edit">Edit</a>
          <a class="delete-link btn-small waves-effect waves-light red lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>">Delete</a>
        </li>
      </ul>
      <% }; %>
    </div>
  <% }); %>
</div>

  <h5>Food</h5>
  <% trip.businesses.filter(function(item) { %>
  <div class="row">
    <div class="col s4 categorycol" id="foodcol">
    <% if (item.category === 'food') { %>
      <ul>
        <li class="biz">
          <a class="bizlink" href="<%= item.url %>"><%= item.name %></a>
          <a class="btn-small waves-effect waves-light blue-grey lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>/edit">Edit</a>
          <a class="delete-link btn-small waves-effect waves-light red lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>">Delete</a>
        </li>
      </ul>
      <% }; %>
    </div>
  </div>
  <% }); %>
  <h5>Hotels/Travel</h5>
  <% trip.businesses.filter(function(item) { %>
  <div class="row">
    <div class="col s4 categorycol" id="hotelscol">
    <% if (item.category === 'hotelstravel') { %>
      <ul>
        <li class="biz">
          <a class="bizlink" href="<%= item.url %>"><%= item.name %></a>
          <a class="btn-small waves-effect waves-light blue-grey lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>/edit">Edit</a>
          <a class="delete-link btn-small waves-effect waves-light red lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>">Delete</a>
        </li>
      </ul>
      <% }; %>
    </div>
  </div>
  <% }); %>
  <h5>Nightlife</h5>
  <% trip.businesses.filter(function(item) { %>
  <div class="row">
    <div class="col s4 categorycol" id="nightlifecol">
    <% if (item.category === 'nightlife') { %>
      <ul>
        <li class="biz">
          <a class="bizlink" href="<%= item.url %>"><%= item.name %></a>
          <a class="btn-small waves-effect waves-light blue-grey lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>/edit">Edit</a>
          <a class="delete-link btn-small waves-effect waves-light red lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>">Delete</a>
        </li>
      </ul>
      <% }; %>
    </div>
  </div>
  <% }); %>
  <h5>Restaurants</h5>
  <% trip.businesses.filter(function(item) { %>
    <div class="row">
      <div class="col s4 categorycol" id="restaurantscol">
        <% if (item.category === 'restaurants') { %>
      <ul>
        <li class="biz">
          <a class="bizlink" href="<%= item.url %>"><%= item.name %></a>
          <a class="btn-small waves-effect waves-light blue-grey lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>/edit">Edit</a>
          <a class="delete-link btn-small waves-effect waves-light red lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>">Delete</a>
        </li>
      </ul>
      <% }; %>
    </div>
  </div>
  <% }); %>
  <h5>Shopping</h5>
  <% trip.businesses.filter(function(item) { %>
    <div class="row">
      <div class="col s4 categorycol" id="shoppingcol">
    <% if (item.category === 'shopping') { %>
      <ul>
        <li class="biz">
          <a class="bizlink" href="<%= item.url %>"><%= item.name %></a>
          <a class="btn-small waves-effect waves-light blue-grey lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>/edit">Edit</a>
          <a class="delete-link btn-small waves-effect waves-light red lighten-2" href="/trips/<%= trip.id %>/businesses/<%= item.id %>">Delete</a>
        </li>
      </ul>
      <% }; %>
    </div>
  </div>
  <% }); %>
</div>

<div class="row">
  <a href="/trips">&larr; Back to My Trips</a>
</div>
